body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#students {
  width: 100%
}

#students th {
  background-color: green;
  color: white
}

#students td, #students th {
  padding: 8px;
  border: 1px solid #ddd 
}

#students tr:nth-child(even) {
  background-color: #f2f2f2
}

#students tr:hover {
  background-color: #ddd
}

 .row {
  margin: 10px auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ; /* Size of items defined inside container */
  grid-gap: 2rem;
}
.row div {
  border: 1px dashed gray;
  text-align: center;
  padding: 50px;
}

#loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-left: 50%;  
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg);}
}